.search_filters {
  /* position: -webkit-sticky;
  position: sticky; */
  /* top: 40px; */
  /* top: 0; */
  /* left: 0; */
  max-width: 300px;
  margin: 0 20px;
  /* overflow: auto; */
}

.container-fluid {
  background-color: #f2f2f2;
  padding: 27px 40px;
  color: #666;
  font-weight: 400;
  font-size: 15px;
  margin-top: 20px;
}

.container-fluid h3 {
  color: #333;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
  padding-bottom: 10px;
  margin: 0;
}

.container-fluid h3:not(:first-child) {
  padding-top: 27px;
}

.option input[type="radio"] {
  display: none;
}

.option input[type="radio"]:checked ~ label {
  color: #ff7962fc;
  border-bottom: 1px solid #ff7962fc;
}

.option {
  padding-bottom: 6px;
}

.search {
  justify-content: space-between;
  display: flex;
  border: 1px solid #263348;
  padding: 0 23px;
}

#search {
  font-size: 15px;
  height: 60px;
  border: none;
  color: #263348;
}

#search:focus {
  outline: none;
}

#search:focus ~ .search {
  border: 1px solid red !important;
}

.column-60 {
  margin: 0 auto;
}

.row {
  display: flex;
  max-width: 90vw;
}

.parent {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
@media screen and (max-width: 1080px) {
  .search_filters {
    position: initial;
    max-width: 90vw;
    margin: auto;
    width: 100%;
  }

  .column-60 {
    width: 100%;
  }

  .parent {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  #selectionContainer {
    margin-top: 24px;
  }
}

.search_button {
  border: none;
  outline: none;
  background: transparent;
  height: 100%;
}

#selectionContainer {
  text-align: center;
}

#selectionContainer button {
  background: transparent;
  color: #888888;
  border: none;
  outline: none;
  margin: 5px 32px 5px 0;
  font-size: 16px;
  padding: 0;
}

.sel-active,
#active {
  color: #333333 !important;
  border-bottom: 1px solid #333333 !important;
}

.child {
  display: none;
  text-align: center;
}

.show {
  display: block;
}

#sort,
#apply {
  border: 1px solid #263348 !important;
  background-color: transparent;
  font-size: 13px;
  width: 100%;
  height: 36px;
  padding: 0 20px;
  color: #263348;
  letter-spacing: 1px;
}

#apply {
  background-color: #ff7962fc;
  color: #fff;
  text-transform: uppercase;
  margin-top: 15px;
  border: none !important;
}

#apply:hover {
  background-color: #263348;
  color: #fff;
}
