@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&family=Roboto&family=Crimson+Text&display=swap");

*,
::after,
::before {
  box-sizing: border-box;
  font-family: "roboto", "Source Sans Pro", sans-serif;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: auto;
  padding: 103px 0 83px;
}

p {
  -webkit-font-smoothing: antialiased;
  background: 0 0;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  outline: 0;
  color: #8d8d8d;
  font-family: "roboto", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-style: normal;
  font-weight: 350;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (min-width: 768px) {
  .col-md-6 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
}
.parent {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.child {
  display: grid;
  place-items: center;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}

.container {
  position: relative;

  height: fit-content;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.container:hover .overlay {
  display: block;
  background: rgb(255 255 255 / 0.65);
}

.button {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  text-align: center;
  opacity: 0;
  transition: opacity 0.35s ease;
}

.button a {
  width: 200px;
  padding: 12px 40px;
  text-align: center;
  color: #37465d;
  text-decoration: none;
  border: solid 1px #37465d;
  z-index: 1;
  font-size: 13px;
  letter-spacing: 2.6px;
  font-weight: 600;
  font-size: 13px;
  line-height: 54px;
  height: 54px;
  font-style: normal;
}

.button :hover {
  color: white;
  background-color: #37465d;
}

.container:hover .button {
  opacity: 1;
}
.product-title {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: 0px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  color: #000000;
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column-50 {
  float: left;
  width: 50%;
}

.column-30 {
  float: left;
  width: 30%;
}
.column-40 {
  float: left;
  width: 40%;
}
.column-60 {
  float: left;
  width: 60%;
}

.column-100 {
  float: left;
  width: 100%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column-50 {
    width: 100%;
  }
  .row {
    max-width: 300px;
    padding-top: 30px;
  }
}

.button-cart {
  /* margin: 1rem; */
  text-align: center;
}

.button-cart a,
.btn-group a {
  width: 200px;
  padding: 12px 48px;
  margin-top: 82px;
  text-align: center;
  color: #37465d;
  text-decoration: none;
  border: solid 1px #37465d;
  letter-spacing: 2.6px;
  font-weight: 600;
  text-transform: uppercase;
}
.button-cart :hover,
.btn-group a {
  color: white;
  background-color: #37465d;
}

.img-book {
  width: 100%;
  height: auto;
}

.collapsible {
  color: #37465d;
  text-decoration: none;
  border: solid 1px #37465d;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: center;
  outline: none;
  font-size: 15px;
  margin-top: 10px;
  background-color: white;
  letter-spacing: 2.6px;
  font-weight: 600;
  text-transform: uppercase;
}

.active,
.collapsible:hover {
  color: white;
  background-color: #37465d;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  text-align: left;
}

.top-img {
  width: 100%;
}

.top-title {
  width: 100%;
  left: 0;
  top: 50%;
  text-align: center;
  font-size: 100px;
}

.container-top {
  position: relative;
}

.center {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  font-size: 5vw;
}

.img-top {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 500px) {
  .center {
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
    font-size: 30px;
  }
}
.elementor-divider-separator {
  width: 100px;
  border-bottom: solid 2px #37465d;
  margin: auto;
  padding: 10px;
}

.image-content {
  color: #fff;
  position: absolute;
  bottom: 0;
}

.reg-bg {
  position: relative;
}

/* Detail.php */
.info-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.info-row .key {
  /* font-family: Poppins-Regular; */
  font-size: 14px;
  line-height: 1.7;
  color: #666;
}

.info-row .value {
  font-size: 14px;
  line-height: 1.7;
  color: #888;
}

.title-row {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.price {
  line-height: 40px;
  height: 100%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 50px;
  margin: auto 0;
  color: #37465d;
}
