 
.card.card-custom {
    -webkit-box-shadow: 0px 0px 30px 0px rgba(82, 63, 105, 0.05);
    box-shadow: 0px 0px 30px 0px rgba(82, 63, 105, 0.05);
    border: 0;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border: 1px solid #EBEDF3;
    border-radius: 0.42rem;
    margin:30px;
}

.flex-column {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}

.pb-5, .py-5 {
    padding-bottom: 1.25rem !important;
}
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
.table {
    width: 100%;
    color: #3F4254;
    background-color: transparent;
}
table {
    border-collapse: collapse;
}

.text-left {
    text-align: left !important;
}

.table:not(.table-bordered) thead th, .table:not(.table-bordered) thead td {
    border-top: 0;
}
.table.table-head-custom thead tr, .table.table-head-custom thead th {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0px;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
   
}
.table.table-vertical-center th, .table.table-vertical-center td {
    vertical-align: middle;
}
.table thead th, .table thead td {
    font-weight: 600;
    font-size: 1rem;
    border-bottom-width: 1px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #EBEDF3;
}
.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #EBEDF3;
}


*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 2.25rem;
}

.symbol.symbol-50 .symbol-label {
    width: 100px;
    height: 100px;
}
.symbol.symbol-light .symbol-label {
    background-color: #F3F6F9;
    color: #7E8299;
}
.font-size-lg {
    font-size: 1.08rem;
}
.text-dark-75 {
    color: #3F4254 !important;
}
.font-weight-bolder {
    font-weight: 600 !important;
}
.d-block {
    display: block !important;
}
.h-75 {
    height: 95% !important;
}
.align-self-end {
    -ms-flex-item-align: end !important;
    align-self: flex-end !important;
}
img {
    vertical-align: middle;
    border-style: none;
}
.symbol .symbol-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: 500;
    color: #3F4254;
    background-color: #F3F6F9;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 0.42rem;
}

.svg-icon.svg-icon-primary svg g [fill] {
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
    fill: #6993FF !important;
}

.bt-status-avaliable{
    color: #6993FF;
    background-color: #E1E9FF;
    border-radius: 0.42rem;
    padding: 0.9rem 0.75rem;


}

.bt-status-sold-out{
    color: #FFA800;
    background-color: #FFF4DE;
    border-radius: 0.42rem;
    padding: 0.9rem 0.75rem;

}
body{
    background-color: #f6f1ee;
}
.head-book{

    font-size: 40px;
    font-family: crimson text,'Roboto';
}
.text-muted {
    color: #B5B5C3 !important;
}
