<link rel="stylesheet" href="../static/css/main.css">
<link rel="stylesheet" href="../static/css/cart.css">
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="container-top">
    <img class="img-top" src="../static/images/title-img.jpg" alt="Cinque Terre" width="1000" height="300">
    <div class="center product-title">Shop List</div>
  </div>
<div class="card main-raised">

    <div class="table-responsive">
        <table class="table table-shopping">
          <thead>
            <tr>
              <th class="product-title">Image</th>
              <th class="product-title">Title</th>
              <th class="product-title">Category</th>
              <th class="product-title">Price</th>
              <th ></th>
            </tr>
          </thead>
          <tbody>
            <tr class="cart-element">
              <td class="align-center">
              
                    <img style="height: 150px; padding-bottom: 10px;" src="book.png" alt="" />
              
              </td>
              <td class="td-name">
                Foxy Jump
                          
              </td>
              <td>
                Fiction
              </td>
              <td>
                $45
              </td>
              <td>
                <i class="fas fa-times"></i>
                </td>
            </tr>
            <tr class="cart-element">
              <td>
              
                    <img style="height: 150px; padding-bottom: 10px;" src="book.png" alt="" />
              
              </td>
              <td class="td-name">
                Foxy Jump
                          
              </td>
              <td>
                Fiction
              </td>
              <td>
                $45
              </td>
              <td>
                <i class="fas fa-times"></i>
                </td>
              
            </tr>
            <tr class="cart-element">
              <td>
              
                    <img style="height:150px; padding-bottom: 10px;" src="book.png" alt="" />
              
              </td>
              <td class="td-name">
                Foxy Jump
                          
              </td>
              <td>
                Fiction
              </td>
              <td>
                $45
              </td>
              <td>
              <i class="fas fa-times"></i>
              </td>
            </tr>
            <!-- <tr>
            <td colspan="6"></td>
            <td colspan="2" class="text-right">
              <button type="button" class="btn btn-info btn-round">Complete Purchase <i class="material-icons">keyboard_arrow_right</i></button>
            </td>
          </tr> -->
         
         
          </tbody>
        </table>
       
      </div>
      
      <div class="checkout-btn">
        <div style="margin-bottom: 1rem" class="head-sub">Total	$2,346</div>
        <a href="#">PROCEED TO CHECKOUT</a>
      
    </div>
      
    </div>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#f7e1d4" fill-opacity="1" d="M0,160L60,170.7C120,181,240,203,360,181.3C480,160,600,96,720,112C840,128,960,224,1080,224C1200,224,1320,128,1380,80L1440,32L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>
      