<link rel="stylesheet" href="../static/css/styles.css" />
<link rel="stylesheet" href="../static/css/form.css" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<div class="container-top">
  <img
    class="img-top"
    src="../static/images/title-img.jpg"
    alt="Cinque Terre"
    width="1000"
    height="300"
  />
  <div class="center product-title">
    Checkout
    <div class="elementor-divider-separator"></div>
  </div>
</div>
<div class="row">
    <div style="padding: 2%;" class="column-50">
        <div class="login-page-new__main-form-row">
            <div class="login-page-new__main-form-row-label">Address</div>        
            <input class="cu-form__input ng-pristine ng-invalid ng-touched" formcontrolname="address" id="address" placeholder="Enter your address" type="text">   
          </div> 
          <div class="login-page-new__main-form-row">
            <div class="login-page-new__main-form-row-label"> Postcode / Zip:</div>        
            <input class="cu-form__input ng-pristine ng-invalid ng-touched" formcontrolname="address" id="address" placeholder="Enter your address" type="text">   
          </div> 
          <div class="login-page-new__main-form-row">
            <div class="login-page-new__main-form-row-label"> State:</div>        
            <input class="cu-form__input ng-pristine ng-invalid ng-touched" formcontrolname="address" id="address" placeholder="Enter your address" type="text">   
          </div> 

    </div>
    <div style="padding: 2%;" class="column-50">
    
    
</div>
</div>



</div>