
<link rel="stylesheet" href="../static/css/main.css" />
<link rel="stylesheet" href="../static/css/styles.css" />
<link rel="stylesheet" href="../static/css/form.css" />
<link rel="stylesheet" href="../static/css/cart.css" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<style>
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&family=Roboto&family=Crimson+Text&display=swap");
  .woocommerce #payment {
    margin-bottom: 20px;
}
#payment {
    margin-top: 15px;
}

 ul.payment_methods {
    list-style: none;
    border-bottom: 1px solid #ddd;
    margin-bottom: 25px;
}
ul {
    list-style-position: inside;
}
 ul.payment_methods li {
    padding: 10px 20px;
    border: 1px solid #e0dede;
    border-bottom: 0;
}
ul.payment_methods li label {
    color: #000;
    margin-left: 10px;
}

ul.payment_methods li .payment_box {
    padding: 10px 0 0 35px;
}

ul.payment_methods li label img {
    margin: 0 10px;
    position: relative;
    top: 10px;
}
.payment-under{
  font-size: 15px;
}
.payment_box{
transition: max-height 0.3s ease-out;
}
tr{
  border:1px solid #ddd
}

th,td{
  padding: 10px;
  
}

.row-checkout {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
    padding: 103px 0 83px;
}

@media only screen and (max-width: 600px) {
  .row-checkout{
    padding: 10px;
    display: flex;
  flex-direction: column-reverse;
  }
}
.bg{
  background-color:#f4ccb41a;

}

</style>
<div class="container-top">
  <img
    class="img-top"
    src="../static/images/title-img.jpg"
    alt="Cinque Terre"
    width="1000"
    height="300"
  />
  <div class="center product-title">
    Checkout
    <div class="elementor-divider-separator"></div>
  </div>
</div>
<div class="row-checkout">
    <div style="padding: 2%;" class="column-50">
      <div  class="head-sub">Shipping Details: </div>
        <div class="login-page-new__main-form-row">
            <div class="login-page-new__main-form-row-label">Address</div>        
            <input class="cu-form__input bg" formcontrolname="address" id="address" placeholder="Enter your address" type="text">   
          </div> 
          <div class="login-page-new__main-form-row">
            <div class="login-page-new__main-form-row-label"> Postcode / Zip:</div>        
            <input class="cu-form__input bg" formcontrolname="address" id="address" placeholder="Enter your address" type="text">   
          </div> 
          <div class="login-page-new__main-form-row">
            <div class="login-page-new__main-form-row-label"> State:</div>        
            <input class="cu-form__input bg " formcontrolname="address" id="address" placeholder="Enter your address" type="text">   
          </div> 





          <div style="font-size: 27px;" class="head-sub">Payment Method: </div>
          <div id="payment" class="woocommerce-checkout-payment">
            <ul class="wc_payment_methods payment_methods methods">
            <li class="wc_payment_method payment_method_bacs">
          <input id="payment_method_bacs" onclick="javascript:PaymentMethodCheck();" type="radio" class="input-radio" name="payment_method" value="bacs" checked="checked" data-order_button_text="">
          
          <label for="payment_method_bacs">
          Direct bank transfer 	</label>
            <div id="bank_transfer" class="payment_box payment_method_bacs" style="display: block;">
            <p class="payment-under">Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order will not be shipped until the funds have cleared in our account.</p>
          </div>
          </li>
          <li class="wc_payment_method payment_method_cod">
          <input id="payment_method_cod" onclick="javascript:PaymentMethodCheck();" type="radio" class="input-radio" name="payment_method" value="cod" data-order_button_text="">
          
          <label for="payment_method_cod">
          Cash on delivery 	</label>
            <div id="cod" class="payment_box payment_method_cod" style="display: none;">
            <p class="payment-under">Pay with cash upon delivery.</p>
          </div>
          </li>
          <li class="wc_payment_method payment_method_paypal">
          <input id="payment_method_paypal" onclick="javascript:PaymentMethodCheck();" type="radio" class="input-radio" name="payment_method" value="paypal" data-order_button_text="Proceed to PayPal">
          
          <label for="payment_method_paypal">
          PayPal <img src="https://www.paypalobjects.com/webstatic/mktg/logo/AM_mc_vs_dc_ae.jpg" alt="PayPal acceptance mark">	</label>
            <div id="paypal" class="payment_box payment_method_paypal" style="display: none;">
            <p class="payment-under">Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.</p>
          </div>
          </li>
          </ul>
</div>          


          
<div class="explore-btn"><a href="#">Place Order </a></div>


    </div>
    <div style="padding: 2%;" class="column-50 ">
    
      <div style="text-align: center;" class="head-sub">Order Summary</div>
     <table style="width:100%; max-width: 800px;">
       
     
     <tbody>
      
       <tr>
         <td>  <img style="height: 65px; width: auto;" class="img-book" src="book.png" alt="" /></td>
         <td>the hope</td>
         <td>$45</td>
       </tr>
       <tr>
         <td>  <img style="height: 65px; width: auto;" class="img-book" src="book.png" alt="" /></td>
        <td>the hope in life</td>
        <td>$45</td>
      </tr>
     </tbody>
    </table>
    <div style="float: right; font-size: 27px;" class="head-sub"> Total	$90</div>
</div>
</div>



</div>




  <script>
document.getElementById('bank_transfer').style.display = 'none';
    document.getElementById('cod').style.display = 'none';
    document.getElementById('paypal').style.display = 'none';
    
    
            function PaymentMethodCheck() {
                if (document.getElementById('payment_method_bacs').checked) {
                  document.getElementById('bank_transfer').style.display = 'block';
                  document.getElementById('cod').style.display = 'none';
                  document.getElementById('paypal').style.display = 'none';
                  
                }
                else if (document.getElementById('payment_method_cod').checked) {
                  document.getElementById('bank_transfer').style.display = 'none';
                  document.getElementById('cod').style.display = 'block';
                  document.getElementById('paypal').style.display = 'none';
                }
                else if (document.getElementById('payment_method_paypal').checked) {
                  document.getElementById('bank_transfer').style.display = 'none';
                  document.getElementById('cod').style.display = 'none';
                  document.getElementById('paypal').style.display = 'block';
                }
                
            }
    </script>


