<link rel="stylesheet" href="../static/css/main.css">
<link rel="stylesheet" href="../static/css/styles.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="container-top">
    <div class="main-img-top main-row" >
         <div class="main-column-50-main">     
      <img class="top-book1" src="../static/images/h1-rev-img-01.png" alt="" />
      <img class="top-book2" src="../static/images/shop-img-08-600x525.png" alt="" />
      <img class="top-book3" src="../static/images/h1-rev-img-02.png" alt="" />
    </div>  
     
        <div style="margin:auto;"  class="column-40">  
            
            <div class="title-main">This Month</div><br>
            <div class="elementor-divider-separator-left"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipis labore et dolore magna aliqua dolor.</p>
                <div class="explore-btn"><a href="#">EXPLORE </a></div>
            
            </div>
    </div>

        </div>
</div>

<div class="main-row">
    <div style="padding: 2%;" class="main-column-50 ">
        
    <div  class="img-first"><div style="align-items: center;">
        <div style="font-size:40px;" class="head-sub"> Order E Books Online</div>
        <div style="text-align: center;" class="explore-btn"><a href="#">EXPLORE </a></div>
    </div></div>

    </div>
    <div style="padding: 2%;" class="main-column-50">
    
    <div class="img-second"><div style="align-items: center;">
        <div style="font-size:40px;" class="head-sub"> Order E Books Online</div>
        <div style="text-align: center;" class="explore-btn"><a href="#">EXPLORE </a></div>
    </div>
    </div>
</div>
</div>


<div class="product-title align-center">Newest Editions Out
<div class="elementor-divider-separator"></div>
<p style="margin: 15px; max-width: 300px; text-align: center;">At vero eos et accusamus et iusto od lorem ipsum gnissimos ducimus bland.</p>
</div>
<div class="parent">
  <div class="child"> <div class="container">
    <img style="height: 200px;" src="book.png" alt="" />
    
    <div class="overlay"></div>
    <div class="button"><a href="#"> ADD TO CART</a></div></div>
    <div class="product-title" style="font-size:22px;text-align: center;">Most Popular Edition</div>
    <p style="text-align: center;">$5</p>
    
  </div>
    <div class="child"> <div class="container">
      <img style="height: 200px;" src="book.png" alt="" />
      
      <div class="overlay"></div>
      <div class="button"><a href="#"> ADD TO CART </a></div></div>
      <div class="product-title" style="font-size:22px;text-align: center;">Most Popular Edition</div>
    <p style="text-align: center;">$5</p>
      
    </div>  

    <div class="child"> <div class="container">
      <img style="height: 200px;" src="book.png" alt="" />
      
      <div class="overlay"></div>
      <div class="button"><a href="#">ADD TO CART </a></div></div>
      <div class="product-title" style="font-size:22px;text-align: center;">Most Popular Edition</div>
    <p style="text-align: center;">$5</p>
     
    </div>
    <div class="child"> <div class="container">
      <img style="height: 200px;" src="book.png" alt="" />
      
      <div class="overlay"></div>
      <div class="button"><a href="#"> ADD TO CART</a></div></div>
      <div class="product-title" style="font-size:22px;text-align: center;">Most Popular Edition</div>
    <p style="text-align: center;">$5</p>
     
    </div>
  </div>


